<table>
    <tbody>
        <tr>
            <td><app-client [clientNumber]=1 ></app-client></td>
            <td><app-client [clientNumber]=2 ></app-client></td>
            <td><app-client [clientNumber]=3 ></app-client></td>
            <td><app-client [clientNumber]=4 ></app-client></td>
            <td><app-client [clientNumber]=5 ></app-client></td>
            <td><app-client [clientNumber]=6 ></app-client></td>
        </tr>
    </tbody>
</table>
<app-line-chart></app-line-chart>
<!-- <app-chat></app-chat> -->